[run]
source =
    physped
[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    # ignore _version.py and versioneer.py
    .*version.*
    *_version.py
    physped/tests/*
    physped/visualization/*
    physped/io/*
    physped/main.py
skip_empty = true

exclude_also =
    if __name__ == '__main__':
    def __repr__

    ; Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
